.media-left,.imgBox{width:64px;height:64px;}.media-object,.uploadImg img{width:64px;height:100%;border-radius:5px;}
.roomListBox{padding:0;margin-top:15px;}.roomListItem{padding:10px;margin-bottom:15px;border:1px solid #e2e2e1;border-radius:5px;}.roomListItem .media-body a{color:#000;text-decoration: none;}.joinPeopleBox span{vertical-align: middle;color:#999;}.joinPeopleBox .joinNum{padding: 0 5px;line-height: 1;}
.roundFresh{
    animation:roundFresh 1s;
}
@keyframes roundFresh {
    0%{  transform: rotate(0deg);}
    100%{  transform: rotate(360deg); }
}
