@charset "utf-8";
/* Import Less files */

/* CSS Document */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button,
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: normal 'microsoft Yahei', Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  -webkit-text-size-adjust: none;
}
body,html{
  width:100%;
  height:100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

img,
fieldset {
  border: 0 none;
}

ul,
ol,
li {
  list-style: none;
}

em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

em,
i {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

img {
  border: none;
}

input,
img {
  vertical-align: middle;
}

input {
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea:focus {
  outline: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
}

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: " ";
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.28rem;
  background-color: #f0f0f0;
}

.layout .screen {
  width: 7.2rem;
  /*height: 4.65rem;
  background: url(../img/waringbanner1.jpg) no-repeat center center;*/
  -webkit-background-size: cover;
  background-size: cover;
}

.layout .infos {
  position: relative;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.34rem;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
  z-index: 222222
}

.layout .infos .status {
  color: #333333;
}

.layout .infos .details-btn {
  width: 1.1rem;
  line-height: 0.5rem;
  height: 0.5rem;
  margin-top: 0.24rem;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #d2d2d2;
  border-radius: 0.2rem;
  color: #666666;
  cursor: pointer;
}

.layout .infos .details-text {
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 0;
  padding: 0.22rem 0.34rem 0.22rem;
  line-height: initial;
  border-bottom: 1px solid #e3e3e3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
  background-color: #fff;
  width: 100%;
}

.layout .infos .details-text .title {
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.layout .infos .details-text p {
  font-size: 0.2rem;
  color: #666666;
  margin-bottom: 0.05rem;
}
.userInfo{
  height:0.6rem;
  width:100%;
  background:#fff;
  padding:0 10px;
  line-height:0.6rem;
  font-size:14px;
  display: none;
}

.layout .comment-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0rem;
  bottom: 0.9rem;
  overflow: auto;
  padding-top:0.6rem;
  /* z-index: 5; */
}

.layout .comment-area .comment-item {
  margin: 0.15rem 0;
  padding-left: 1.2rem;
  padding-right: 0.8rem;
  position: relative;
  
}
.layout .comment-area .comment-item .exitChatBox{
  text-align: center;
  margin-top:10px;
}
.layout .comment-area .comment-item .exitChat{
  padding:0.05rem 0.4rem;
  font-size:12px;
  background:#c1c1c1;
  color:#555;
  border-radius:5px;
  
}
.layout .comment-area .comment-item .exitChat .exitName{
  color:#4a4a4a;
  font-weight:600;
}

.layout .comment-area .comment-item .avatar {
  position: absolute;
  left: 0;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.18rem;
  background: #7bc5ff;
  border-radius: 50%;
  color: #000;
  font-weight: 600;
  overflow: hidden;
}
.layout .comment-area .comment-item .avatar img {
  width: 100%;
  height: 100%;
  display:block;
}
.layout .comment-area .comment-item .avatar span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display:none;
}
.layout .comment-area .comment-item .avatar.noAvatar img{
  display:none;
}
.layout .comment-area .comment-item .avatar.noAvatar span{
  display:block;
}

.layout .comment-area .comment-item .content .from {
  font-size: 0.2rem;
  color: #666666;
}

.layout .comment-area .comment-item .content .from .date {
  margin-left: 0.1rem;
}

.layout .comment-area .comment-item .content .message {
  position: relative;
  margin-top: 0.05rem;
  display: inline-block;
  padding: 0.15rem 0.15rem;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0.1rem;
  font-size: 0.26rem;
}

.layout .comment-area .comment-item .content .message::after {
  content: '';
  position: absolute;
  top: 0.3rem;
  left: -0.17rem;
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.12rem solid transparent;
  border-right: 0.18rem solid #fff;
  border-bottom: 0.12rem solid transparent;
}

.layout .comment-area .comment-item .content .message::before {
  content: '';
  position: absolute;
  top: 0.3rem;
  left: -0.19rem;
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.12rem solid transparent;
  border-right: 0.18rem solid #cecece;
  border-bottom: 0.12rem solid transparent;
}

.layout .comment-input {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 0.9rem;
  padding-left: 0.28rem;
  background-color: #fff;
  line-height: 0.9rem;
  padding-top: 0.1rem;
}

.layout .comment-input .form-comment {
  float: left;
  width: 5.44rem;
  border-radius: 0.08rem;
  height: 0.7rem;
  border: 1px solid #cccccc;
  line-height: 0.7rem;
  overflow: hidden;
}

.form-comment input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 0.7rem;
  padding-left: 0.2rem;
  border: none;
}

.layout .comment-input .form-btn {
  float: left;
  width: 1.1rem;
  margin-left: 0.2rem;
}

.layout .comment-input .form-btn input {
  float: left;
  line-height: initial;
  margin-top: 0.1rem;
  background-color: #2176af;
  border: none;
  color: #fff;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.08rem;
}

/*# sourceMappingURL=./style-index.css.map */

.video-js {
  width: 100%;
  height: 4rem;
}

.loader {
  display: none;
}

.dianzan img {
  width: 0.4rem
}

.dianzan {
  display: inline-block;
  margin-top: 0.1rem;
}

.dianzan em {
  position: relative;
  top: 2px
}

.message {
  font-size: 0.28rem !important
}

.sayContent {
  font-size: 0.26rem;
  color: #6e6e6e
}

.share {
  width: 1.5rem !important;
  line-height: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  float: right;
  margin-left: 0.2rem
}

.plContent {
  display: inline-block;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}

.plContent img {
  width: 0.4rem;
}

/* 新增的点赞样式 */
.dianzan .alreadyThumps {
  width: 0.28rem;
  display: none;
}
.dianzan.active .thumpBtn {
  display: none;
}
.dianzan.active .alreadyThumps {
  display: inline-block;
}

.shadowBox{
  width:100%;
  height:100%;
  z-index:50;
}
.shadowBox .shadow{
  width:100%;
  height:100%;
  background:#555;
  opacity:0.8;
  position:fixed;
  top:0;
  left:0;
}

.el-dialog {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:50%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-sizing: border-box;
  
}
.el-dialog__header {
  padding: 20px;
  padding-bottom: 10px;
}
.el-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: #303133;
}
.el-dialog__headerbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.el-dialog__body {
  padding:0.1rem 0.2rem;
  color: #606266;
  font-size: 14px;
}
.el-dialog__body input{
  border:1px solid #e2e2e1;
  border-radius: 5px;
  float:none;
  font-size:0.2rem;
}
.el-dialog__footer {
  padding: 20px;
  padding-top: 10px;
  text-align: right;
  box-sizing: border-box;
}
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.el-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.el-button+.el-button {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .el-dialog {
    width:80%;
  }
}